@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather:wght@400;700;900&family=Poppins:wght@400;600;800&display=swap');,@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lato:wght@400;700;900&family=Merriweather:wght@400;700;900&family=Poppins:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner_start */
.banner{
    width: 70%;
    margin: 50px auto;
    position: relative;
   
}

.banner .banner_title{
    position: absolute;
    left: 5%;
    top: 10%;
}

.banner_paragraph1{
color: #FFF;
text-align: left;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}

.banner_heading{
color: #FFFF00;
text-align: left;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
/* banner_end */

/* new_year_start */

.container{
    width: 70%;
    margin: 120px auto;
    text-align: center;
}

.new_heading{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
}

.new_description{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.new_heading2{
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}
/* new_year_end */

/* party-start */
 
.party{
    width: 75%;
    display: flex;
    margin: 120px auto;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    position: relative;

}

.party_heading_site{
    position: absolute;
    top: 20%;
    left: 5%;
}

.party_heading{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party_description{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.party_btn{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 8px;
}

.img_2024{
    position: absolute;
    right:15%;
}

/* party-end */

/* event-time-start */

.event{
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 75%;
    margin: 120px auto;
    border-radius: 10px;
}

.event_details{
    padding: 50px;
    margin:  0 auto;
}

.event_details span{
    color: red;
}

.event_title1{
    color: black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn_join{
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    background: red;
    transition: all 0.5s ease;
    cursor: pointer;
}

.btn_join:hover{
    background: rgba(255, 0, 0, 0.678);
}

/* event-time-end */

/* offer-start */

#offer_section{
    width: 75%;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.offer{
    background: #fff;
    padding: 30px;
}

.offer .offer_title{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.offer .offer_heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.offer .offer_description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer .offer_img{
    width: 100%;
}

.offer_img img{
  border: 10px solid red;
  border-radius: 50%;
  padding: 20px;
}

.offer .offer_year{
   text-align: right;
}

.offer_year .date{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.offer_year .date_description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}
.offer_year .offer_logo{
    position: absolute;
    right: 23%;}

/* offer-start */

/* discount-start */

.discount_section_main{
    text-align: center;
    margin-top:120px ;
}

.discount_title{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.parcent_off{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.discount_heading span{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.discount_heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.discount_discription{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.discount_section{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px auto;
    background-image: url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
}

.discount_image{
    width: 100%;
    
}

.discount_image1{
po
}
.discount_image01{
    text-align: center;
    margin: 0 auto;
}
/* discount-end */

/* portfolio-start */
.portfolio_section{
    width: 75%;
    margin: 120px auto;
}

.portfolio_title{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio_heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.portfolio_description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.portfolio_image{
    width: 75%;
    margin: auto;
}

/* portfolio-end */

/* news-section-start */
.news_section{
    padding: 60px;
    width: 75%;
    margin: 120px auto;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.news_heading{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.news_description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 40px;
}

.input_box{
width: 30%;
height: 50px;
margin: 0 auto;
position: relative;
}
.input_box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 50px;
    text-indent: 20px;
    font-size: 16px;
}

.input_box input::placeholder{
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subs_btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #fff;
}

/* news-section-end */

/* footer-start */
.address{
    background: #070211;
    color: #fff;
    padding: 20px 40px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.address_section{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.cell{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.line1{
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.footer_logo{
    text-align: center;
}

.line2{
    border: 1px solid #ddd;
    margin-top: 20px;
}